.footerBox {
    margin-top: 100px;
    padding: 5% 15%;
    background: rgb(243, 243, 243);
    text-align: left;
}

.bottomMenuBox1 {
    font-size: 30px;
    font-weight: 700;
}

.footerTable1, .footerTable2 {
    text-align: left;
    width: 100%;
}

.footerTitle1, .footerTitle2 {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
}

.footerText1 {
    padding: 5px 0;
    width: 80px;
}

.footerHr {
    margin: 2% 0;
}

.footerText2 {
    padding: 6px 0;
}

.bottomMenuBox2 {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
}