#wrap {
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block !important;
    border-radius: 10px;
}
#SpaceIMG {
    width: 300px;
    height: 300px;
}
#wrap img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#title {
    font-size: 15px;
    font-weight: bold;
}
#area {
    font-size: 13px;
}
#SpaceClassLine {
    width: 80%;
    height: 3px;
    background-color: #5da5f7;
}
.fixBtn {
    margin-left: 210px !important;
    margin-bottom: 5px;
    background-color: #5da5f7;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}