
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

a { text-decoration : none;}

table { margin:0 auto;}

inbox {
    text-align: center;
    position: absolute;
    width: 1000px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
  
  }
  .CreateClass {
    text-align: left;
    position: relative;
    width: 1000px;

    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding:50px;
  }
  .inbox-2{
    text-decoration: none; 
    color: gray;
    position: relative;
    width: 350px;
    height: 250px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-transition:.4s;
      -moz-transition:.4s;
      -ms-transition:4s;
      -o-transition:.4s;
      transition:.4s;
  }
  .inbox-2:hover{
    color: black;
    position: relative;
    width: 350px;
    height: 250px;
    
    background: #FFFFFF;
  border: 3px solid #119BFF;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(17, 155, 255, 0.25);
  border-radius: 5px;
  
  }
  
  
  
  .checkboxa{
    text-align: left;
    color: black;
    position: relative;
    overflow:scroll;
    width: 700px;
    height: 500px;
    background: #FFFFFF;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    line-height:150%;
    padding:20px;
  }
  .checkboxa2{
    text-align: center;
padding:100px;
border: 0px solid #000000;
width:1000px;
  }

  
.subbox{
  position:relative;
  
    
  width: 100%;
  height: 100px;
  text-align: center;
  
  background: #ff8080;
  border: 3px solid #ff8080;
  box-sizing: border-box;
  border-radius: 3px;
  font-size:300%;
  font-family: 'Dongle', sans-serif;;
  
  color: white;
          -webkit-transition:.4s;
    -moz-transition:.4s;
    -ms-transition:4s;
    -o-transition:.4s;
    transition:.4s;
    top:53px;
  }
  
  .subbox:hover{
    background: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 10px;
  }

  .classArea{
    position: absolute;
  width: 200px;
  height: 40px;
  
  background: #FFFFFF;
  border: 2px solid #FF8181;
  box-sizing: border-box;
  border-radius: 5px;
  padding:6px;
  }
  
  .NextButton{
    
  /* position: absolute; */
  width: 70%;
  height: 100px;
  color: white;
  background: #FF8686;
  border-radius: 3px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }
  .NextButton:hover{
  
    background: #ff0000;
  
    }
  .toggle3 input[type=radio]{
      display: none;
      position: relative;
  }
  
  .toggle3 input[type=radio] + label {
    filter: brightness(70%);
      opacity:0.3; 
      position: relative;
      border-radius: 10px;
              -webkit-transition:.4s;
    -moz-transition:.4s;
    -ms-transition:4s;
    -o-transition:.4s;
    transition:.4s;
  }
  .toggle3 input[type=radio] + label:hover{
    filter: brightness(100%);
      opacity:1; 
      position: relative;   
  }
  .toggle3 input[type=radio]:checked + label {
      filter: brightness(100%);
      opacity:1; 
  
      position: relative; 
  }
  
  .toggle3-text{
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top:80%;
  }
  .classTitle{
    width:500px; 
    height:40px; 
    text-align:center; 
    background: #FFFFFF; 
    border: 1px solid rgba(255, 0, 0, 0.25);
		box-sizing: border-box; 
    box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.5); 
    border-radius: 3px;
  }
  .classInfo{
    background: #FFFFFF; 
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; padding:10px;
    padding: 5px;
  }

.span2{
    Color:red;
  }
